<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/"
                            >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address-book">ab list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address-book/add">新增</a>
                    </li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <% if(session.admin && session.admin.account) { %>
                    <li class="nav-item">
                        <a class="nav-link"><%= session.admin.account %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">登出</a>
                    </li>

                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login-jwt">jwt登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">註冊</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</div>
